body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #fff;
	min-width: 320px;
}

div.cover__top01 {
	height: 50px;
}

div.cover__top02 {
	height: 30%;
}

.cover__icon {
	border: 3px solid #1A6666;
	border-radius: 100%;
	max-height: 220px;
}

.medium-4 .cover__icon {
}

.small-6 .cover__icon {
	max-height: 184px;
	min-height: 150px;
	min-width:  150px;
}